body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0;
}

.weather-app {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.search-box {
    margin-bottom: 20px;
}

#location-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #831cd8;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #37034f;
}

.weather-info p {
    margin: 10px 0;
}
